<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437743256347-g0olu9u8pjnirr15nvinvg6sqnftn5uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437743256347-g0olu9u8pjnirr15nvinvg6sqnftn5uk</string>
	<key>API_KEY</key>
	<string>AIzaSyD5p4KWb19XczbpdG7_jKsTvIAe3XSdxkE</string>
	<key>GCM_SENDER_ID</key>
	<string>437743256347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.subeen.collaborativeCBT</string>
	<key>PROJECT_ID</key>
	<string>collaborativecbt</string>
	<key>STORAGE_BUCKET</key>
	<string>collaborativecbt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437743256347:ios:ce48ae88db4f2a4f3649be</string>
</dict>
</plist>